.another_container {
  /* background-color: #242424; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(5px);
  /* filter: brightness(0.75) hue-rotate(-30deg); */
  &.small_container {
    overflow: auto;
  }
  > iframe {
    border: none;
  }
}
