body {
  margin: 0;
}
:root {
  font-family: Kiwi Maru, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  margin: 0;
}
