body {
  margin: 0;
}
:root {
  font-family: Kiwi Maru, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #5ba9bc;
  border: none;
  border-radius: 0px;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #47bedc;
}
::-webkit-scrollbar-thumb:active {
  background-color: #47bedc;
}
::-webkit-scrollbar-track {
  background-color: #5ba9bc20;
}